__pycache__/
*.pyc
*.pyo
*.pyd
*.wav
*.m4a
clips/
*.json
.DS_Store
fingerspelling/
wlasl/
clips/
*.mp4
!demo/*.mp4
# Ignore large video datasets
clips/ASL/videos/

# Python cache
__pycache__/
*.pyc

# MacOS system files
.DS_Store
