__pycache__/
*.pyc
*.pyo
*.pyd
*.mp4
*.wav
*.m4a
clips/
lexicon.csv
*.json
.DS_Store
fingerspelling/
wlasl/
clips/

# Ignore large video datasets
clips/ASL/videos/
*.mp4
*.mov

# Python cache
__pycache__/
*.pyc

# MacOS system files
.DS_Store

